<b>Coordinator Query </b>
{{query}}

<p></p>

{{#if coordinator}}

<b>{{coordinator.fullName}}</b>

<ul>
{{#each coordinator.Courses}}
    <li>
        <a href="/describe/{{id}}">
            {{courseId}}
        </a>
        - {{courseName}}
    </li>
{{/each}}
</ul>

{{else}}

<h3>404 - Not Found</h3>

{{/if}}