<b>Course Description Query </b>
{{query}}

<p></p>

<div style="width:66%;">

<b>
<a href="/cid/{{description.course}}">
    {{description.course}}
</a>
- {{description.title}}
</b>

<p></p>

{{description.content}}

</div>