<h3>A Random Course</h3>

<p>
<a href="/cid/{{courseId}}">
    {{courseId}}
</a>
- {{courseName}}
</p>

<p>
Coordinator:
<a href="/coordinator/{{Coordinator.id}}">
    {{Coordinator.fullName}}
</a>
</p>